@inherits LayoutComponentBase

<div id="wrapper">
    @Body

    <MudScrollToTop ScrollBehavior="ScrollBehavior.Smooth">
        <MudFab Icon="@Icons.Filled.ArrowUpward" Color="Color.Dark" />
    </MudScrollToTop>
</div>
